<h1 class="display-6 mt-5 d-flex justify-content-center">Features</h1>
<div class="card my-3 mx-auto">
    <div class="row g-0">
        <div class="col-lg-4">
            <img src="../../assets/instagram-reels.jpg" alt="Instagram reels downloader"
                class="img-fluid rounded-start" />
        </div>
        <div class="col-lg-8">
            <div class="card-body">
                <h5 class="card-title">Reels Downloader</h5>
                <p class="card-text">
                    REEL is a new video format that clone the principle of TikTok. Download Instagram REEL videos with help of instadltube. Our REEL downloader can help you to save your favorite Reels videos.
                </p>
            </div>
        </div>
    </div>
</div>
<div class="card my-3 mx-auto">
    <div class="row g-0">
        <div class="col-lg-6">
            <img src="../../assets/instagram-videos.jpg" alt="Instagram videos downloader"
                class="img-fluid rounded-start" />
        </div>
        <div class="col-lg-6">
            <div class="card-body">
                <h5 class="card-title">Videos Downloader</h5>
                <p class="card-text">
                    instadltube is created to enable you to download Instagram videos for any purpose you want.
                </p>
            </div>
        </div>
    </div>
</div>
<div class="card my-3 mx-auto">
    <div class="row g-0">
        <div class="col-lg-4">
            <img src="../../assets/instagram-photos.jpg" alt="Instagram photos downloader"
                class="img-fluid rounded-start" />
        </div>
        <div class="col-lg-8">
            <div class="card-body">
                <h5 class="card-title">Photos Downloader</h5>
                <p class="card-text">
                    Instagram photo downloader provided by instadltube is a great tool for saving images from Instagram posts. With instadltube you can download Instagram photos at high quality.
                </p>
            </div>
        </div>
    </div>
</div>